/* stylelint-disable function-no-unknown */
@font-face {
    src: url("/fonts/Rubik/Rubik-Regular.ttf") format("truetype");
    font-family: "Rubik";
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    src: url("/fonts/Rubik/Rubik-Medium.ttf") format("truetype");
    font-family: "Rubik-Bolder";
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    src: url("/fonts/PlayfairDisplay-Bold.ttf") format("truetype");
    font-family: "Playfair";
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    src: url("/fonts/PF-Bague-Sans-Pro/Medium.ttf") format("truetype");
    font-family: "PF";
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    src: url("/fonts/Yomogi/Yomogi-Regular.ttf") format("truetype");
    font-family: "Yomogi";
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }