.f-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.f-row {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 10px;
  padding: 18px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 8%);
  background: $white;
}

.btn {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  outline: none;
  border: none;
  border-radius: 8px;
  padding: 0 15px;
  height: 42px;
  font-family: "Rubik";
  font-size: 17px;
  white-space: nowrap;
  background: none;
  transition: .1s ease-out;
  cursor: pointer;

  &--success {
    background: #3aa141;

    &:hover {
      background: #1f5723;
    }
  }

  &--error {
    background: #bf5f36;

    &:hover {
      background: #7d3e23;
    }
  }
}

.section-title {
  margin: 30px auto;
  font-size: 26px;
  text-align: center;
  color: #263829;
}

@keyframes blinking {
  0% { display: visible; }
  50% { opacity: .1; }
  100% { visibility: hidden }
}

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px 0;
  width: 100%;
  height: 100%;
}

.form {
  padding: 24px;

  &__input {
    display: flex;
    flex-shrink: 2;
    outline: none;
    border: 1px solid #a8aaad;
    border-radius: 5px;
    padding: 10px;
    width: 100%;
    height: 42px;
    max-width: 100%;
    font-family: 'PF';
    background: #fff;

    &:focus {
      border: 1px solid black;
    }
  }

  &__actions {
    display: grid;
    grid-gap: 18px;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 30px;
  }
}

.highlighted {
  color: $primary;
}

.lesson {
  &__legend {
    margin: 20px auto;
    font-family: 'PF';
    font-size: 18px;
    text-align: center;
  }

  &__info {
    display: grid;

    // justify-items: center;
    align-items: start;
    grid-gap: 30px;
    grid-template-columns: repeat(2, 1fr);
    padding-top: 30px;
    width: 100%;

    @media (max-width: 800px) {
      grid-template-columns: 1fr;
    }
  }

  &__letters {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    // width: fit-content;
  }

  &__letter {
    display: flex;
    align-items: center;
    font-size: 18px;

    span {
      // max-width: 300px;

      &:not(:first-child) {
        font-family: 'PF';
      }

      &:first-child {
        margin-right: 20px;
        font-size: 22px;
      }
    }

    @media (max-width: 800px) {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__img {
    position: relative;
    width: 100%;
    height: auto;
    max-width: 300px;
  }

  &__royalty {
    position: absolute;
    right: 5px;
    font-family: 'Rubik';
    font-size: 12px;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 40%);
  }

  &__words {
    margin-top: 30px;
    margin-bottom: 30px;
    max-width: 100%;
  }

  &__title,
  &__headline {
    font-family: 'PF';
    text-align: center;
  }
}