.f-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.f-row {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 10px;
  padding: 18px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 8%);
  background: $white;

  &__header {
    justify-content: center;
    font-weight: 600;
    color: $logo-indigo;
  }
}

.btn {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  outline: none;
  border: none;
  border-radius: 8px;
  padding: 0 15px;
  height: 42px;
  font-family: 'PF';
  font-size: 17px;
  white-space: nowrap;
  background: none;
  transition: .1s ease-out;
  cursor: pointer;

  &--success {
    background: #3aa141;

    &:hover {
      background: #1f5723;
    }
  }

  &--error {
    background: #bf5f36;

    &:hover {
      background: #7d3e23;
    }
  }
}

.section-title {
  margin: 30px auto;
  font-size: 26px;
  text-align: center;
  color: #263829;
}

@keyframes blinking {
  0% { display: visible; }
  50% { opacity: .1; }
  100% { visibility: hidden }
}

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 24px;
  width: 100%;
  height: 100%;
  max-width: 1100px;

  @media (max-width: 380px) {
    padding: 14px;
  }

  @media (max-width: 350px) {
    padding: 14px 0;
  }
}

.form {
  padding: 24px;

  &__input {
    display: flex;
    flex-shrink: 2;
    outline: none;
    border: 1px solid #a8aaad;
    border-radius: 5px;
    padding: 10px;
    width: 100%;
    height: 42px;
    max-width: 100%;
    font-family: 'PF';
    background: #fff;

    &:focus {
      border: 1px solid black;
    }
  }

  &__actions {
    display: grid;
    grid-gap: 18px;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 30px;
  }
}

.highlighted {
  color: $logo-indigo;
}

.loader {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;

  // border-radius: 50%;
  padding: 4px;
  width: 46px;
  height: 46px;
  fill: #000;
  animation: load8 2s infinite linear;
}

@keyframes load8 {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}