//colors:
$white: #fff;
$dark: #0d1418;
$gray: #7b8ea7;
$light: #f8fafc;
$green-success: #35cb00;
$primary: rgb(11, 110, 249);
$ordinary: #1d1b24;
$box-shadow: 0 0 6px rgba(0, 0, 0, 12%);
$logo-orange: #d97a43;
$logo-yellow: #f2b749;
$logo-indigo: #4b83a6;
$graphite: #0a183d;